body {
  font-size: 14px;
  font-family: "Source code pro", cursive;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

/* NAVBAR */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3em;
  color: white;
  background-color: #2c3e50;
  min-height: 4em;
  padding-top: 0.6em;
  border-radius: 0px;
  margin: 0px;
}

.navbar-brand {
  font-size: 20px;
}

.navbar-nav {
  list-style: none;
  float: right;
}

.nav-item {
  margin: 0 0.7em;
}

.nav-link {
  border-radius: 12px;
  padding:
}

/* HOME */

#home {
  background: #7fbbdf;
  color: white;
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
  height: 100%;
}

#home img {
  height: 15em;
  margin-top: 3em;
}

#home h1, h2, h3 {
  margin: 1em 0em;
}

/* DELIVERY */

#delivery .container {
  text-align: center;
}

#delivery h2 {
  margin-bottom: 0.2em;
}

#delivery .information {
  text-align: left;
  height: 10em;
}

#delivery .instruction {
  height: 10em;
}

#delivery h3 {
  display: inline-block;
}

#changeText{
  color:#40596b;
}

.form-group {
  width: 45%;
}

.information p {
  margin: 0em 0em 0em 1em;
}

.instruction p{
  margin: 2em 0;
}

#delivery .glyphicon{
  color :red;
  font-size: 1.5em;
      margin-top: 80%;
}

.trucker-price, .shipper-option {
  display: inline-block;
}

#compute {
  margin: 2em auto;
}

.amount{
  font-size: 2em;
  font-weight: 900;
}

#actors{
  margin:2em 0;
}

.actor{
  background: #eee;
  min-height: 5em;
}

.res{
  background: #ff7058;
  min-height: 5em;
  text-align: center;

}

.res span{
  font-size: 3.5em;
  font-weight: 800;
  color:#333;
  margin:auto
}
/* ABOUT */

#about {
  background: #ffd15c;
}

#about span {
  display: inherit;
}

#about .row{
  margin: 1em 0 5em 0;
}
.bubble-note {
  text-align: center;
  display: inline-block;
}

#about .container{
  text-align: center;
  padding: 1.5em 0;
}

#about h4{
  margin:2em;
}

.presentation-note {
  border: solid 3px #ff7058;
  background: #f2f2f2;
  border-radius: 80em;
  height: 12em;
  width: 12em;
  padding-top: 3em;
  margin: auto;
}

.big-note {
  font-size: 1.8em;
  font-weight: 900;
}

.note {
  font-size: 1.6em;
  font-weight: 700;
}

.cv-advantage img{
  width: 60%;
}

.advantage{
  margin:0.5em;

}
